.h1{
    padding-bottom: 10%;
}


.highlighted {
    font-size: 20rem;
    font-weight: bolder;
    color: orange;
}

.highlightedText {
    color: orange;
    font-weight: bold;
}

/* Queens */

.teamContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.teamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reveal p {
    margin: 0.2rem;
}

.profileImg {
    border: 2px white solid;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.teamName {
    font-size: 1.6rem;
}

.teamTitle {
    font-size: 1.3rem;
}

.linkCont {
    display: flex;
    gap: 20%;
    justify-content: center;
    margin-top: 0.3rem;
    
}

.fa-github{
    color: white;
}

.fa-linkedin{
    color: rgb(10,102,194);
}

